<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>data are saved with success</h1>
    <form action="contact" method="post">
        <input type="text" name="name" placeholder="enter your name"><br>
        <input type="text" name="lastname" placeholder="enter your last name"> <br>
        <input type="text" name="country" placeholder="enter your country"><br>
        <input type="email" name="email" placeholder="enter your email"><br>
        <textarea name="message"  cols="30" rows="10" placeholder="type something"></textarea>
        <button type="submit">save</button>
    </form>
</body>
</html>